.navbar-custom {
	height: 10vh;
	min-height: 70px;
	max-height: 80px;
}
.exercise-button{
	white-space: nowrap !important;
	overflow: hidden !important;
}
.exercise-button:hover {
	cursor: pointer;
	color: #f97434 !important;
}
.bg-secondary {
	background-color: #0c2e44 !important;
}
.navbar-brand {
	color: #f97434 !important;
}
.bg-primary {
	color: #0c2e44 !important;
	background-color: #d4deee !important;	
}
/*
	color: #0c2e44
	background-color: #d4deee;

	navbar-background-color: #0c2e44;
	navbar-color: #f97434;
*/

#navbarResponsive {
	border-radius: 25px;
}